.strike{
    text-decoration: line-through;
}
.card{
    position: relative;
    left : 38%;
    width:50vh;
    height: 80vh;
    box-shadow: 0 4px 8px o rgba(0,0,0,0.2);
    border-radius: 10px;
    border-style: solid;
    border-width: 20px;
    border-color: burlywood;
    background: linear-gradient(to bottom, gray, black);
}
.circle{
    border-radius: 50%;
    height:50px;
    width:50px;
    background-color: black;
    position: relative;
    left:48%;
    background: radial-gradient(gray, black);
}