<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div>
  <h3>Type list items here </h3>
  <div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="input-group">
      <!--(ngModel) to bind input data to a variable-->
      <input type="text" class="form-control" placeholder="enter groecry items" id="txtsearch" [(ngModel)]="task.name"/>
      <div class="input-group-button">
        <button class="btn btn-secondary" type="button" (click)="onClick()">
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
<br/>

<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <span (click)=onStrike(task) [ngClass]="{'strike':task.strike}"> {{ task.name }} </span>
    <i class="fas fa-edit" (click)="onEdit(task)"></i> 
    <i class="fas fa-trash-alt" (click)="onDelete(task)"></i>
  </li>
</ul>
</div>
</div>
</div>

